
/*=======================================================================
  The Flame - Personal Portfolio Template Colors
======================================================================= */

.color-scheme-purple {
  color: #673AB7;
}
.color-scheme-purple-bg {
  background-color: #673AB7;
  color: #fefefe;
}
/*===================================*/
.color-scheme-blue {
  color: #07aaf5;
}
.color-scheme-blue-bg {
  background-color: #07aaf5;
  color: #fefefe;
}

/*===================================*/
.color-scheme-green {
  color: #2ecc71;
}
.color-scheme-green-bg {
  background-color: #2ecc71;
  color: #fefefe;
}

/*===================================*/
.color-scheme-pink {
  color: #f858a9;
}
.color-scheme-pink-bg {
  background-color: #f858a9;
  color: #fefefe;
}

/*===================================*/
.color-scheme-yellow {
  color: #ffff00;
}
.color-scheme-yellow-bg {
  background-color: #ffff00;
  color: #fefefe;
}

/*===================================*/
.color-scheme-red {
  color: #e83b35;
}
.color-scheme-red-bg {
  background-color: #e83b35;
  color: #fefefe;
}

/*===================================*/
.color-scheme-teal {
  color: #009688;
}
.color-scheme-teal-bg {
  background-color: #009688;
  color: #fefefe;
}

/*===================================*/
.color-scheme-orange {
  color: #FF9800;
}
.color-scheme-orange-bg {
  background-color: #FF9800;
  color: #fefefe;
}

/*===================================*/
.color-scheme-grey {
  color: #607D8B;
}
.color-scheme-grey-bg {
  background-color: #607D8B;
  color: #fefefe;
}

/*===================================*/
.color-scheme-brown {
  color: #bea042;
}
.color-scheme-brown-bg {
  background-color: #bea042;
  color: #fefefe;
}

/*===================================*/
.color-scheme-water {
  color: #74ebd5;
}
.color-scheme-water-bg {
  background-color: #74ebd5;
  color: #fefefe;
}
/*===================================*/